{% extends 'base.html'%}

{%block content%}

<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{logo}}" width="30" height="30" class="d-inline-block align-top" alt="">
      FUCount
    </a>
  </nav> -->
<div class = "fill_container">
    <div class="fill" id="initial">
        <div class="content-row">
            <img src="{{logo}}" class="mx-auto" style="height: 36vh; width: auto">
        </div>
        <div class="content-row">
            <a href="{{url_for('auth.login')}}" id="login-button" class="btn btn-primary" role="button">Log in</a>
        </div>
        <div class="content-row">
            <a href="{{url_for('auth.register')}}" id="register-button" class="btn btn-primary" role="button">Register</a>
        </div>
    </div>
</div>

{%endblock content%}
