:root{
    --purpley : #e4d4fb;
    --darkerpurpley: #9388E4; 
    --buttoncol: #FF3E41;
}
.navbar-custom {
    background-color: #9388E4;
}

.btn-primary {
    background-color: var(--buttoncol);
    border-color: var(--buttoncol);
}

#login-button{
    color: white;
    margin-top: 5vh;
    width:20vh;
    padding: 7px 10px; 
    border-radius: 15px;
}

#register-button{
    color: rgb(255, 255, 255);
    margin-top: 1vh;
    width: 20vh;
    padding: 7px 10px; 
    border-radius: 15px;
}
.box-me{
    background-color: #f5eeff;
}
.fill{
    min-height: 100%; 
}

#initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}
.content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    min-height: 100vh;
    background: var(--purpley);
}

html {
    height:100%;
}
.fill_container{
    display:flex;
    min-height: 100vh;
}
#new-ingredient {
    max-width: 100%;
}

#new-ingredient table {
    width: 105%;
}

#new-ingredient td {
    padding: 0.2%;
}



#list td {
    padding: 0.2%;
}

#list table {
    width: 120%;
}

#list {
    text-align: center;
    width: 45%;
}


#list-container {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5%;
    text-align: center;
}

#leader-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 35%;
    
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

.styled-table th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border: solid 2px green;
}

.styled-table td {
    padding: 12px 15px;
    border: solid 2px green;
}
