:root{
    --greenish : rgb(76, 175, 80);
}



.fill{
    min-height: 100%; 
}

.initial .dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}
.content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    background:var(--greenish);
}
