:root{
    --greenish : rgb(165, 190, 166);
}

#login-button{
    color: rgb(69,27,4);
    margin-top: 5vh;
    width: 30vh;
    padding: 7px 10px; 
    border-radius: 25px;
}

.fill{
    min-height: 100%; 
}

#initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}
.content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display:flex;
    min-height: 100%;
    background: var(--greenish);
}

html {
    height:100%;
}