{% extends 'base.html'%}

{%block content%}
<div class="content-row">
    <form method="POST">
        <div class="form-group">
        <label for="username">Enter Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username" required>
        <small id="emailHelp" class="form-text text-muted">We will share your username with everyone else.</small>
        </div>
        <div class="form-group">
        <label for="password">Enter Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
         <label class="form-check-label" for="exampleCheck1">I'm not a robot</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock content%}