<!DOCTYPE html>
<html lang = "en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title>{{title}}</title>

    <!-- CSS (BS4) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<script>
var foods = {
    "Beans and Pulses": ["Chickpeas", "Lentils", "Kidney Beans", "Peas"],
    "Dairy": ["Butter", "Cheddar Cheese", "Cows' Milk", "Eggs", "Yoghurt"],
    "Fruit": ["Apples", "Apricots", "Bananas", "Blackberries", "Blueberries", "Cherries", "Grapes", "Mangos", "Oranges", "Peaches", "Raspberries", "Strawberries"],
    "Grains": ["Oats", "White Rice", "Brown Rice"],
    "Meat and Seafood": ["Beef", "Chicken", "Lamb", "Pork", "Turkey"],
    "Nuts and Seeds": ["Almonds", "Pecans", "Pistachios", "Walnuts"],
    "Processed Foods": ["Coffee", "Ice Cream", "Margarine", "Pasta", "Peanut Butter", "Tofu"],
    "Vegetables": ["Broccoli", "Cabbage", "Carrots", "Cucumbers", "Lettuce", "Onions", "Peppers", "Spinach", "Tomatoes"]
}

function setup_box() {
    var keys = Object.keys(foods);
    var type_box = document.getElementById("food_type");
    type_box.innerHTML = "";
    for (var i = 0; i < keys.length; i++) {
        type_box.innerHTML += "<option value=" + keys[i] + ">" + keys[i] + " </option>";   
    }
    type_box.selectedIndex = 1;

    var names = foods[keys[type_box.selectedIndex]];
    var name_box = document.getElementById("food_name");
    name_box.innerHTML = "";
    for (var i = 0; i < names.length; i++) {
        name_box.innerHTML += "<option value=" + names[i] + ">" + names[i] + " </option>";   
    }


}

function update() {
    var keys = Object.keys(foods);
    var type_box = document.getElementById("food_type");
    var selected = type_box.selectedIndex;
    type_box.innerHTML = "";
    for (var i = 0; i < keys.length; i++) {
        if (selected == i) {
            type_box.innerHTML += "<option value=\"" + keys[i] + "\"selected=\"selected\">" + keys[i] + "</option>";   
            var previous = i;
        } else {
            type_box.innerHTML += "<option value=\"" + keys[i] + "\">" + keys[i] + " </option>";   
        }
    }
    type_box.selectedIndex = previous;

    var names = foods[keys[type_box.selectedIndex]];
    var name_box = document.getElementById("food_name");
    name_box.innerHTML = "";
    for (var i = 0; i < names.length; i++) {
        name_box.innerHTML += "<option value=\"" + names[i] + "\">" + names[i] + " </option>";   
    }
}
</script>

<body onload="setup_box()">
    {% block new %}
    <div id="list-container">
    <div id="new-ingredient">
        <h2>New Ingredient</h2>
        <form name="f" method="POST">
            <table>
            <tr>
                <td><label for="food_type">Food</label></td>
                <td>
                    <select id="food_type" name="food_type"  onchange="update()" >
    

                    </select>
                
                    <select id="food_name" class="flashes" name="food_name">

                    </select>
                </td>
                    
            </tr>
            <tr>
                <td><label for="quantity">Amount</label></td>
                <td><input type="number" min="0" max="1000000" id="quantity" name="quantity" step="0.1" required></input>
                    <select id="unit" name="unit">
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                        <option value="ml">ml</option>
                        <option value="l">l</option>
                    </select></td>
            </tr>
            <tr><td  style="text-align: center"><input type="submit" value="Submit"></td></tr>
            
            </table>
        </form>
    </div>

    <div id="list" >
        <h2>Shopping List</h2>
        <table>
            <tr>
                <td>Ingredient</td>
                <td>Quantity</td>
                <td>Carbon Cost</td>
            </tr>
            {% for item in ingredients %}
            <tr>
                <td>{{item['foodname']}}</td>
                <td>{{"%d" %(item['quantity'])}}g</td>
                <td>{{"%.1f" %(item['carboncost'])}}g</td>
            </tr>
            {% endfor %}
        </table>
    
    </div>
    </div>
    {% endblock %}
    <!-- BS4 Dependencies and JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Custom Javascript -->
    <script src="{{url_for('static',filename='main.js')}}"></script>

</body>
</html>